<% arrow_type = type unless arrow_type %>
<%= link_to(vote_path(voteable_id: voteable.id, voteable_class: voteable.class, type: type), method: "post", remote: true, id: "vote-#{type}-#{voteable.class.name.downcase}-#{voteable.id}", class: "vote vote-#{type} vote-#{type}-#{voteable.class.name.downcase}-#{voteable.id} btn btn-default btn-xs #{active}") do %>
    <span class="glyphicon glyphicon-arrow-<%= arrow_type %>"></span>
<% end %>
