<% # This template is called from Idea#show %>
<li>

  <div class="question-<%= question.id %>-vote-wrapper">
    <%= render template: "evaluations/show", locals: {voteable: question} %>
  </div>

    <p>
    <strong>Question:</strong>
      <%= link_to question.title, question %>
      by
      <%= User.find(question.user_id).email %>
    </p>
</li>