<% # This template is called from Idea#show %>
<li class="media">

  <%= render partial: "evaluations/vote_wrapper", locals: {voteable: question} %>

    <div class="media-body">
	    <h4 class="media-heading">
	      <%= link_to question.title, question %>
	  	</h4>
	  		<%= link_to "#{question.answers.count} #{'Answer'.pluralize(question.answers.count)}", question %>
    </div>
</li>
