<% # This template is called from Idea#show %>
<li>
    <p>
    <strong>Question:</strong>
      <%= link_to question.title, question %>
      by
      <%= User.find(question.user_id).email %>
    </p>
</li>