<% # This template is called from Idea#show %>
<li>

  <%= render partial: "evaluations/vote_wrapper", locals: {voteable: question} %>
  
    <p>
    <strong>Question:</strong>
      <%= link_to question.title, question %>
      by
      <%= User.find(question.user_id).email %>
    </p>
</li>