<% content_for :secondary_nav do %>
	<div class="btn-group">
		<%= link_to "Activity", {
		  controller: "profiles",
		  action: "show" },
		  class: 'btn btn-default ' + active_when(@profile)
		%>
	</div>
	<div class="btn-group">
		<%= link_to "Labs", {
		  controller: "profiles",
		  action: "labs" },
		  class: 'btn btn-default ' + active_when(:controller => 'profiles', :action => 'labs')
		%>
	</div>
<% end %>