<% content_for :page_title do %>
  <div class="clearfix">
    <div class="col-sm-6">
      <% if current_page?("/profiles/#{@profile.id}/edit")%>
       <h1 style="font-family:'Montserrat-Bold'">
        Editing Profile
        </h1>
      <% else %>
        <h1 style="font-family:'Montserrat-Bold'">
        <%= @user.name %>
        <span class="rep-points badge-rep">
          <%= @user.lab_rep_points %>
        </span>
        </h1>
      <% end %>
    </div>
  </div>
<% end %>