<p id="notice"><%= notice %></p>

<%= render 'secondary_nav' %>
<%= render 'sidebar' %>

<h3>My recent activity</h3>
<%= render partial: "activities/activities", :locals => {activities: @activities} %>