<p id="notice"><%= notice %></p>

<%= render 'secondary_nav' %>
<%= render 'sidebar' %>

<h4>My recent activity</h4>
<div class="content-bg">
  <%= render partial: "activities/activities", :locals => {activities: @activities} %>
</div>