<div class='doc'>
  The brief is one of the most important parts of the idea build phase. This will be the front-facing content of your start-up to the labthi.ng community and potential investors. As soon as the idea is promoted, this needs to be written. A detailed guide of how you should write it follows. Remember to use as much of the <b>create phase discussion</b> as possible, since that reflects the refined version of the different aspects of the idea.
  <br><br>
  Start by reiterating the problem you've identified that the idea attempts to solve, and how it attempts to solve it. Continue by explaining the main features of the product: how it works, why it works the way it does, and what features make it unique to name a few. 
  <br><br>
  Next, explain the business model. Who are the main competitors, and how are you different? What is the revenue/cost model? Who is the target customer segment and why? Try and briefly build a big picture financial projection.
  <br><br>
  Finally, try to explain your vision for the company. What are the main goals of what you hope to achieve? What do you hope the product will be like when you launch it? What will be the key milestones you will implement to get to this point of launch? What resources (people, money, etc) will you need to achieve this?
  <br><br>
  Remember, you are trying to sell your idea to a wide range of people with different motives. The community is going to see this and determine whether (a) they will keep up with your idea's blog and be customers when the product is launched; and (b) they are interested enough in the idea to apply to be team members. Investors will be looking at this to determine whether or not they will watch the start-up and eventually make an offer. Take your time writing this and make it as good as possible.<br><br>
  You can also always come back and edit this part. Once you build a team, include a summary about the different team members and their different qualities and why you guys work well together. Investors care about the team behind the idea as much as they care about the idea itself.
</div>
<hr> 