<div class='doc'>

  Computer Aided Design (CAD) is a detailed design activity, which involves translating 2D concept sketches to produce 3D detailed design drawings. It is another visualisation technique integral to making decisions about the form and the function of your product. We recommend the development of final concepts into CAD sketches as it allows for intricate and accurate capabilities for designing and analysing. We suggest using CAD programs such as <%= link_to 'SolidWorks', 'http://www.solidworks.co.uk/sw/resources/videos/solidworks-screencasts.htm?scid=hp_acrd_videos_screencasts', target: '_blank' %>  and an introductory video is shown below. 

  <br><iframe width="560" height="349" src="https://www.youtube.com/embed/cmC2MLRetko"></iframe><br>

  You should breakdown your design in to as many individual components as possible. Design these individual components as PARTS in SolidWorks and then join them into one single part by using ASSEMBLY. Once you want to share your work, select PACK and GO under FILES and then upload the .zip folder. 

</div>
<hr>