<div class='doc'>

  An integral component in design is language. Defined literally, language is a method of communication, which may be spoken or written. Language is the essence behind visualising your product idea. Sketching is a form of language that is used to communicate initial ideas.

  One of the first steps in the development of your product idea is to visualise and convey your idea by sketching. We encourage team members to upload and share concept sketches for brainstorming.

  An example of a concept sketch is shown below:

  <br><%= image_tag 'phys_hc3.png', height: 500, width: 800 %><br>

  <strong>Concept Sketching Technique</strong>

  <ol>
    <li>Pencil: construction lines</li>
    <li>Finest pen: visible lines</li>
    <li>Medium pen: outlines of important features</li>
    <li>Heavier pen: overall outline of the entire object</li>
    <li>Heaviest pen: outline ‘shadow’ on lower edges</li>
    <li>Fine detail: ink in more detail using fine pen</li>
    <li>Gray-scale shadows: simple shadows on object</li>
    <li>Background: spatial reference rectangle behind the object</li>
    <li>Shadow on background: give sense of 3D</li>
    <li>Colour wash: one colour with marker</li>
    <li>Highlights: apex of areas in light</li>
    <li>Colour detail: highlight features</li>
  </ol>

</div>
<hr>