<div class='doc'>
  This section involves transforming your designs (wireframes etc) into beautiful, fully interactive prototypes complete with gestures, transitions and animations. You we need to create high quality images of each of the pages in your site and upload them to <%= link_to 'Invision', 'http://www.invisionapp.com/', target: '_blank'%>. This will enable you to collaboratively design the site and will allow for easy and in depth user testing. They also have some great posts for improving your design skills <%= link_to 'here', 'http://blog.invisionapp.com/', target: '_blank'%>. Once uploaded you can realise your user flow by using Invision’s functionality for clicking through designs. This youtube video provides a simple 5 minute tutorial to get you familiar with invision.

  <iframe width="560" height="349" src="https://www.youtube.com/embed/Op_KzXwey2o"></iframe>

  You will be required to upload the link provided by Invision so that the whole design team can contribute.

  The initial design prototype will be transferred into HTML and CSS for the user interface of the functional prototype.

  Once you are happy with the design prototype find some users in your target audience and get them to click around on it. Functionality is provided for users to leave comments anywhere on your designs. Invision automatically turns feedback into actionable to-do lists that you can tick off as you go. Mark screens as completed when finished and keep everyone up to date on progress in one place. Use the feedback to finalise your design. 

  Once this is completed you development team can put the finishing touches on your functional prototypes user interface. 
  
</div>
<hr> 