<div class='doc'>
  <h4><strong>Executive Summary</strong></h4>
  <br>
  Use the rest of the business plan parts to aid the writing of this part. Try and tie all of the different parts together to give the reader a sound understanding of the product, its uniqueness, and its main strengths and weaknesses; the target market (the customer segment description), its threats and opportunities, and main competitors; and what needs to be done to the product to bring it from its prototype state to its final state ready for launch. It should be over 800 words.  
  <br><br>

  <ul type="circle">
    <li>This is known as the ‘thesis statement’ of the business plan:</li><br>
      <ul type="disc">
      <li>Who the company is</li><br>
      <li>What the company does</li><br>
      <li>Where the company is going</li><br>
      <li>Why the company is going where its going</li><br>
      <li>How it will get there</li><br>
      </ul>
    <li>Introduction: </li><br>
      <ul type="disc">
      <li>Briefly overview the company’s goals and how it will focus to meet its projections.</li><br>
      <li>Include the name, age, nature and uniqueness of the business including strengths and associated risks.</li><br>
      <li>Generate excitement about the business.</li><br>
      </ul>
    <li>Market Opportunity:</li><br>
      <ul type="disc">
      <li>Define opportunities in the marketplace that can be taken advantage of.</li><br>
      <li>Do not overstate returns and potential market shares. </li><br>
      </ul>
    <li>Critical Requirements:</li><br>
      <ul type="disc">
      <li>If the business needs funding, how much and what for?</li><br>
      <li>Break down the use of these funds.</li><br>
      <li>What aspects of the product need development or resources for the business to launch? </li><br>
      <li>Briefly explain what work must be put into the product to bring it from its current prototype state to a final state ready for release.</li><br>
      </ul>
    <li>Company Mission:</li><br>
      <ul type="disc">
      <li>How do customers view the company? What is your vision for what this view should be in the future? How will you achieve this?</li><br>
      </ul>
    <li>Competitors:</li><br>
      <ul type="disc">
      <li>Who are the main competitors in the industry? Profile a few direct and indirect competitors, stating an overview of their services and their relative strengths and weaknesses.</li><br>
      <li>State the company’s competitive advantages.</li><br>
      </ul>
    <li>Financial Projections </li><br>
      <ul type="disc">
      <li>For an investor, this is his/her first glance at the profitability of the business. Back up all assumptions and explanations from the other parts of the business plan with numerical figures, and briefly explain where these figures come from (what the assumptions and estimations were and why). </li><br>
      <li>Line up these figures with the goals of the company.</li>
      </ul>
  </ul>
</div>
<hr> 