<div class='doc'>
  The objective of Labthi.ng’s design process is to allow you to produce a minimum viable product. To transform your idea into a concept. The final prototype and product testing stage epitomises the build phase. It brings together all the individual components such as sketching, computer-aided design and model making to define physically your product concept. This is where the evolution of your idea reaches it final stage in the project. 

  The final prototype is the result of an iterative process of sketching, computer-aided design and model making. This is where you define and manufacture the form and function of your final concept. 

  There are three-basic steps in this component:

  <ol>
    <li>Concept Review</li>
    <li>Manufacture</li>
    <li>Product Testing</li>
  </ol>

  Upload all the 

  define the final form and function of your product concept
  
</div>
<hr>