<div class='doc'>
  A flowchart is a visual representation of a complex process or workflow. This part entails drawing a diagram of the user’s flow through using the product’s key elements; e.g. from the landing page, to the actions he can take and the decisions he therefore makes, and the subsequent pages or actions he is led to until the end of his using of the product. A schema is the structure of the database; it shows all of the tables—the models and their fields—and the relationships between them. We d not expect more than an Excel-like file explaining the model, fields and their relationships for the schema. 
  <br><br>
  Please upload images (.jpeg, .bmp or .png) of both elements. If you have never built a flow chart or designed a schema before, please do further research before selecting this task. This <a href="http://www.slideshare.net/nadinekf/flow-chart-basics">SlideShare presentation</a> is a good starting point. 
</div>
<hr> 