<div class='doc'>

  It is important to create a physical model as soon as you start developing your concept. Model making allows you to envision aspects such as the form and usability of your product that you will not be able to see on paper or on a computer screen. Models can be made from absolutely any material such as wood, cardboard, blue foam or plastic, in any scale dimension. 

  The essence of developing initial models is to rapidly prototype concepts and translate them into ‘looks-like’ objects. Rapid prototyping allows you to test your concept and hence provides a feedback loop, helping you determine the selection of your final design. 

  The <%= link_to 'Imperial College Hackspace', 'http://icah.org.uk/', target: '_blank' %> and the <%= link_to 'Imperial College Robotics', 'http://www.icrobotics.co.uk/', target: '_blank' %> societies are extremely valuable resources for rapid prototyping. Membership of these societies will give you access to a range of 3D Printers, Laser Cutters and Robotics Labs. 

  Once you’ve created your models share them with everyone on the team by uploading high quality pictures. 

  Here are some examples:<br>

  <%= image_tag 'phys_hc1.png' %><br>
  <%= image_tag 'phys_hc2.png' %><br>

</div>
<hr>



