<div class='doc'>
  <h4><strong>Market Analysis</strong></h4>
  <br>
  The information for this section should mainly be taken from the <i>customer segment</i> and <i>competitors</i> sections in the <i>business model summary</i> in the <a href="/documentation#ideadescription" target="_blank">idea description</a> document. Further research into the customer segment and the competitors in the industry specified is necessary. You should write a questionnaire and interview 2 or more people from the target customer segment to obtain feedback about the product, the brand image, and aspects of the product that you may be unsure about and that need further development. The word count of the content should be over 1000 words.  
  <br><br>

  <ul type="circle">
    <li>Provide information about target market, competitors, and market trends</li><br>
    <li>Identify target markets: Who are you selling to? Who are your ideal customers? Identify in terms of 3 parameters:</li><br>
      <ul type="disc">
      <li>Demographics – statistical data (age, income, gender, education, location, occupation, skills, etc.)</li><br>
      <li>Psycho-demographics (where they spend their free time, what activities are they involved in, how do they spend their disposable income, etc.) - determine tastes and attitudes of customer segment.</li><br>
      <li>Special Characteristics of Niche Market - common spending habits, etc. Don’t try to be everything to everyone; choose a small group of people to target.</li><br>
      </ul>
    <li>Keep 4 rules in mind when finding customers that want your product:</li><br>
      <ul type="disc">
      <li>Will they recognise that they have a need or a business problem to solve, or an opportunity to exploit?</li><br>
        <ul type="circle">
        <li>If they clearly recognise a need, they are more likely to buy and use the product.</li><br>
        <li>If they do not, then your marketing plan must highlight your prospects’ awareness of their need. </li><br>
        <li>What characteristics of your potential consumers are related to their need and/or desire for your product? <i>Example: for an electric toothbrush, people who visit the dentist regularly are most likely to buy the product. This customer segment generally has a university-level education, and an income of $50k/year</i>.</li><br>
        </ul>
      <li>Identify Customers who are ready to buy: is the need enough to cause prospects enough pain or pleasure to act now?</li><br> 
        <ul type="circle">
        <li>You must spend more on marketing and sales strategies if this isn’t the case.</li><br>
        <li>If there are multiple needs, identify priorities and guide them to one action.</li><br>
        <li>Are there any additional characteristics that can tell whether they are willing to buy? <i> Example: people with gum disease are more likely to buy the toothbrush than those without. </i></li><br>
        </ul>
      <li>Let the customers know you can fill their needs</li><br>
        <ul type="circle">
        <li>Will your prospects recognise that you will solve their problems/fulfil their needs?</li><br>
        <li>Let them know before they commit to spending time or resources on your product.</li><br>
        </ul>
      <li>Find customers who will pay</li><br>
        <ul type="circle">
        <li>Will they pay? Will they pay you?</li><br>
        <li>Must ensure that prospects have sufficient funds and that you are dealing with decision-makers. </li><br>
        <li>Must see greater value, distinctness from competitors, trust. If not, marketing budget must be increased to make this happen. </li><br>
        </ul>
      </ul>
    <li>Research competition:</li><br>
      <ul type="disc">
      <li>Who is competing with you, find who is after the exact same markets. What are their relative weaknesses/strengths to you? Look at their products: are they professional? What is the nature of the content they provide? What features/benefits do they promote? Special events, chat rooms, boards? What other websites do they link to?</li><br>
      <li>Investigate pricing – how do their prices compare to yours? Do they offer similar products? Do they offer any discounts or special offers?</li><br>
      <li>Determine advertising revenue sources: who advertises their website and what are their rates? Any affiliate programmes?</li><br>
      </ul>
    <li>Assess market trends:</li><br>
      <ul type="disc">
      <li>Observe trends in target market and industry. Clicking by Harper Collins mentions 16 market trends that can influence demand of your product; e.g. cocooning: relaxing, staying at home, or small indulgences: rewarding ourselves for hard work. </li><br>
      <li>Industry trends – major trends for the population on a macroeconomic level. Think of how potential industry changes (e.g. declining manufacturing, increasing service industry, etc) can affect the demand of your product.</li><br>
      </ul> 
    <li>Conduct market research: questionnaires, polls, surveys, etc for a representative sample of the target market. Try to set up one to one interviews with 2-3 from the target market; design questions about some of the aspects of the product you may be unsure about consumers fully understanding and liking. It would be good if you could include a few quotes from these interviews in your content. </li>
  </ul>
</div>
<hr> 