<div class='doc'>
  <h4><strong>Marketing Strategy Plan</strong></h4>
  <br>
  <i>Enhance your brand strength and company image, distinguishing it from competitors.</i>
  <br><br>
  This section is an overview of how the marketing strategy will be put together. You do not need to go into detail about the customer segment, the brand name or the competitors. The <i>marketing sections</i> of the <i>business model summary</i> in <a href="/documentation#ideadescription" target="_blank">idea description</a> will be useful to you here. You may need to do a bit of preliminary research regarding competitors: who are they? How do they price their products? How do they market their products? 
  <br><br>
  You will also need to explain how you will assess the effectiveness of your marketing strategy once it is implemented; how well the marketing strategy is reaching your target market and how effective the campaigns are in building the product’s brand name. You first need to explain what information you will want to store from users when they use the product for improvement and marketing purposes, and where you will store this information. Then, you can describe how this information will be used to make further marketing and product development decisions.
  <br><br>
  It is very important that you tie the marketing strategy and the assessment of its effectiveness together; try to outline the different stages of development for the product from its prototype state to its launch state in terms of how you will use customer feedback to improve the product along the way, improve the brand image, and define the exact target customer segment. The word count of the content should be over 1000 words.  
  <br><br>

  <ul type="circle">
  <li>Goals of the strategy:</li><br>
    <ul type="disc">
      <li>Results oriented; define specific, measurable goals within time parameters. Follow a time plan, milestones, etc.</li><br>
      <li>Outline exactly how, in the process going from a prototyped product to a product ready for launch, you will obtain customer feedback to improve the product and generate consumer awareness about it as it progresses towards release. </li><br>
      <li>Design the PR and advertising to work to achieve these goals. Subsequent parts of the business plan will go into this in detail, so you only need to provide an overview of these different parts.</li><br>
      <li>Create a strong brand: what is the level of awareness you hope to achieve (give numbers, e.g. how many returning users for a web app)? Are you starting from scratch or creating a familiar name? What are the characteristics of the brand you want to reinforce in the mind of the customer? You may find it useful to reference the unique value proposition in the business model summary for guidance here. You only need an overview of what you imagine the brand to be; you do not need to go into detail about it and about how it will be realised.</li><br>
      <li>Build a strong customer base: who are your best customers? What are their profiles? How can you reach this market? What characteristics of the company will inspire loyalty? Use the <i>customer segment</i> section in the <i>business model summary</i> in <a href="/documentation#ideadescription" target="_blank">idea description</a> to create this content. It should be a broad overview; the details of the customer segment analysis will be completed in the <a href="/documentation#marketanalysis" target="_blank">market analysis part</a> of the business plan.</li><br>
      <li>Increase product sales/usage: how do you predict future demand for products? What new levels of sales growth can the company handle once the product is launched?</li><br>
      <li>Quantify the necessary expenses of the marketing plan, how much revenue or awareness it can generate, and how it will be used to grow the product.</li><br>
      <li>Basic marketing questions: who are the customers and competitors? What are you selling and at what price and quantity? How do you plan to reach your target market? When are customers most likely to use and/or buy the product? </li><br>
      <li>Marketing Musts: sell selectively to define your market niche. What will you offer that’s better than your competitors? Why should they buy from you? What market share will you seek? </li><br>
      <li>Create a pitch: define product attributes so the product “Comes alive” for clients. Make it so important that they won’t be able to live or work without it. You may find the <i>unique value proposition</i> in the <i>business model summary</i> useful.</li><br>
      <li>Price for profit: know your competitors’ prices, price accordingly.</li><br>
    </ul>
  <li>Outline how you will assess the effectiveness of this strategy:</li><br>
  <ul type="disc">
    <li>First look at the database system and analysis: what information will you want to store from the users when they use your product to help make business, marketing, and product-related decisions in the future for optimal consumer usability?</li><br>
    <li>How will you use the results of the marketing strategy to further define your customer segment? Keep 4 rules in mind when finding customers that want your product:</li><br>
    <ul type="circle">
      <li>Will they recognise that they have a need or a business problem to solve, or an opportunity to exploit?</li><br>
      <ul type="disc">
        <li>If they clearly recognise a need, they are more likely to buy and use the product.</li><br>
        <li>If they do not, then your marketing plan must highlight your prospects’ awareness of their need.</li><br>
        <li>What characteristics of your potential consumers are related to their need and/or desire for your product? <i>Example: for an electric toothbrush, people who visit the dentist regularly are most likely to buy the product. This customer segment generally has a university-level education, and an income of $50k/year.</i></li><br>
      </ul>
      <li>Identify Customers who are ready to buy: is the need enough to cause prospects enough pain or pleasure to act now?</li><br>
      <ul type="disc">
        <li>You must spend more on marketing and sales strategies if this isn’t the case.</li><br>
        <li>If there are multiple needs, identify priorities and guide them to one action.</li><br>
        <li>Are there any additional characteristics that can tell whether they are willing to buy? <i>Example: people with gum disease are more likely to buy the toothbrush than those without.</i></li><br>
      </ul>
      <li>Let the customers know you can fill their needs</li><br>
      <ul type="disc">
        <li>Will your prospects recognise that you will solve their problems/fulfil their needs?</li><br>
        <li>Let them know before they commit to spending time or resources on your product.</li><br>
      </ul>
      <li>Find customers who will pay</li><br>
      <li>Will they pay? Will they pay you?</li><br>
      <li>Must ensure that prospects have sufficient funds and that you are dealing with decision-makers. </li><br>
      <li>Must see greater value, distinctness from competitors, trust. If not, marketing budget must be increased to make this happen.</li>
    </ul>
  </ul>
</div>
<hr> 