<div class='doc'>
  <h4><strong>Mock-Ups</strong></h4><br>
  A mock-up, is a scale or full-size model of a design or device, used for teaching, demonstration, design evaluation, promotion, and other purposes. If you have not built a mock-up before, and do not know what a style tile is, <a href="http://styletil.es/">Styletil.es</a> is an excellent resource for building the style tile to turn a wireframe into a mock-up. A style tile is a design deliverable consisting of fonts, colors and interface elements that communicate the visual brand of the company. Once you design the style tile, you must design key buttons, links, and images on the wireframe pages to create the full frontend interface of the prototype the user will interact with. You are essentially turning the wireframes into a visual brand of the product.
  <br><br>  
  Please upload an image (.jpeg, .bmp or .png) for each mock-up, the total number of which is specified in the design and prototype specification in the idea description. Please make the resolution of your images 768 x 1024 pixels. Include a style tile on the left side (consisting of the colour palette used in the design elements, along with font choices) of one of the images, and any explanations where necessary. You may use any application you deem fit to design the mock-ups.
</div>
<hr> 