<div class='doc'>
  By clicking start, you have been added to a private repository on the labthi.ng team <a href="https://bitbucket.org/">Bitbucket</a> account. Check your email for an invitation; if you do not have a BitBucket account, please create one. Please use the <a href="http://git-scm.com/doc">Git</a> version control tool and the BitBucket repository to create the prototype. You may use any language you deem fit to programme the prototype. You will have viewing access to the <b> design component parts</b>; please try and layout the frontend of the prototype in a similar manner to the wireframes and mock-ups.
  <br><br>
  If you would like to work with others you know, please enter their emails below. They will also be added to the repository with you, and you will split the equity received in exchange for building the prototype evenly between yourselves. If you change your mind about wanting them to participate, you can remove them from the repository below.
</div>
<hr> 