<div class='doc'>
  <h4><strong>Summary of Product</strong></h4><br>
  This section describes the product in detail, and explains what needs to be done to bring the product from its current prototyped state on labthi.ng to its state upon launch, explaining the different stages in this process and what they each entail. It also ties administrative needs into each of these development stages, e.g. how many personnel and the different types of expertise that will be needed to accomplish each. The word count should be over 800 words.
  <br><br>
  <ul type="circle">
    <li>Describe the product – reference the <i>creative scope summary</i> in the <a href="/documentation#ideadescription" target="_blank">idea description</a> for an overview of the product’s main features and general scope. </li><br>  
    <li>Give a general description of what will need to be done and why to bring the product from its prototyped state when bought after the <b>idea build</b> stage to the state it will need to be in when it is launched: break it up into milestones and explain the importance of each milestone (an example milestone: a beta release of the product just after the prototype is created for the company to obtain consumer feedback on the usability of certain key features). </li><br>
    <li>How much time will be allocated and what potential costs will be incurred during each of these milestones? Will different people need to be hired for specific expertise for the completion of any of these stages? Will extra personnel need to be hired during the product’s development? Put numbers on these costs and please make sure to explain these numbers thoroughly. </li><br>
    <li>Explain the distribution process of the product when it will be launched; where will the product be accessible, how will customers get the product? You may find information about the channels in the <i>business model summary</i> in <a href="/documentation#ideadescription" target="_blank">idea description</a> helpful here.</li><br>
    <li>Is there a need for an extended service after buying the product (e.g. continuous bug fixing and tech maintenance, a source for how-to’s, etc)? What will be the costs of providing these services? How will they be provided? What benefits will their provision bring customers? </li><br>
    <li>Consider future products or services that could be added to the business to increase its value, potential problem areas to work out with the current prototype of the product, and further areas of development; consider the expenses and the potential revenues such endeavours would generate. </li><br>
    <li>Finally, conclude the section by explaining the main features of the product that need consumer feedback to finalise, that are currently problematic, and/or that need development. 
  </ul> 
</div>
<hr> 