<div class='doc'>
  <h4><strong>Summary of Business</strong></h4>
  <br>
  Here, you will establish the foundation upon which you would like to build the business behind the product; your vision, how you want it to be viewed, the strategy you develop in order to reach your goals and objectives. A general guideline for word count is over 800 words.
  <br><br>
  <ul type="circle">
  <li>Begin with a broad overview using keyword approach (1-2 paragraphs): why the product was formed, the nature/uniqueness of product, explain general future goals of the company regarding the process of bringing the prototype to launch, and the happenings after the product’s launch.</li><br>
  <li>Continue with the company mission: What are the future goals within the industry? Then, in 1 or 2 statements, describe the company’s fundamental purpose including nature, values and its work. What it plans to achieve.
  •<li>Then, write about the business model (the method a company does business by which it can generate revenue and sustain itself); describe it and its uniqueness, and why it will work. Use the <i>business model section</i> in the <a href="/documentation#ideadescription" target="_blank">idea description</a>idea description</a> to aid your description. </li><br>
  <li>Afterwards, write more in detail about the short and long-term goals of the company explained in the overview. Explain why you have chosen these particular goals and what they will do for the company; include numerical figures if necessary. </li><br> 
  <li>Proceed with SWOT analysis; strengths, weaknesses, opportunities, threats: </li><br>
    <ul type="disc">
      <li><i>Internal factors (strengths/weaknesses):</i> look at product in detail, outline comparative advantages, core competencies, and areas of weakness.</li><br>
      <li><i>External factors (opportunities/threats): </i>look at marketplace of business operation and your main competitors (2-3 suffice); this helps to identify areas of niche and areas where the business can grow. Also look at changes and trends in the marketplace. The <i>competitors</i> section of the <i>business model section</i> will be useful here.</li><br>
      <li>Focus on opportunities that are the strongest. Explain how you will migrate weaknesses, and develop plans and strategies to overcome existing threats in the market.</li><br>
      <li><i>Strengths: </i>do you have a unique business model, proprietary technology? What are your advantages over competitors?</li><br>
      <li><i>Weaknesses: </i>what aspects of the product and its operation can be improved? Is there an aspect of it that is weak compared to competitors’ products? How will you overcome these? </li><br>
      <li><i>Opportunities: </i>Are any markets not being served with your products? Emerging niche segments in the industry? Target market/industry trends that are of interest to you? Are any competitors leaving the marketplace (switching segment/industry)?</li><br>
      <li><i>Threats: </i>is there new competition emerging? Prices of competitors going down or up? Are competitors issuing new products? New government regulations, any challenges in the industry?</li>
    </ul><br>
  <li>Conclude the section by briefly tying together how the uniqueness and strengths of the product along with opportunities in the industry will enable you as the company to reach your goals. </li>
  </ul>
</div>
<hr> 