<% if user_signed_in? %>
    <li>
      <%= nav_link('Edit profile', '/profile')  %>
    </li>
    <li>
      <%= link_to('Sign out', destroy_user_session_path, :method => :delete) %>
    </li>
<% else %>
      <%= nav_link('Log in', '/login')  %>
<% end %>