<%= render 'secondary_nav' %>
<br><br>
<div class='col-md-10' style='margin-left:100px;'>
<br>
  <div class='col-md-10 admintitle'><h4 class='partname'>Tasks Written by Team Members to Improve Your Work</h4></div>
  <div class='pull-right'>
    <button href='javascript:void(0);' class='btn btn-info pull-right' style='margin-right:63px;' align='center' id='newpost'>Create Task</button>
    </div>
  </div>
</div>
<div class='col-md-10' style='margin-left:115px;width:78%;'> 
  <div class='content-bg' style='display:none;' id='posts'>
    <%= render partial: 'admin_tasks/form' %><br>
    <%= link_to 'Cancel', 'javascript:void(0);', id: 'cancel' %>
  </div>
  <%= render 'admin_tasks' %>  
</div>
