<%= render 'secondary_nav' %><br>
<h4 class='partname'>Submit Content Here</h4>
<div class='col-md-10 helpcontentbg partname'>
  <% if @part.is_design? %>   
    <%=  render 'upload_form' %>
  <% elsif @part.is_prototype? %>
    <%=  render 'prototype_form' %>
  <% else %>
    <%= render 'editor_form' %>
  <% end %>
</div>
