<%= render 'secondary_nav' %>
<br><br>
<div class='col-md-10'><br><h4 style='margin-left:100px;'>Find Help About How to Build this Content</h4></div>
<div class='col-md-10 helpcontentbg' style='margin-left:115px;width:78%;'>
  <%= render "parts/help_content/#{@part.name.downcase.gsub(' ', '_')}" %>
</div>
<br>