<%= form_for(current_user.idea_relationships.build(followed_id: @idea.id), remote: true) do |f| %>
  <div>
    <%= f.hidden_field :followed_id %>
  </div>
  <%= f.submit "Follow",
    class: "btn btn-success pull-right follow-idea-button"
<% end %>
