<% content_for :secondary_nav do %>
	<div class="btn-group">
		<%= link_to "Direct", {
		  controller: "ideas",
		  action: "show" },
		  class: 'btn btn-default ' + active_when(@idea)
		%>
		<%= link_to "Define", {
		  controller: "ideas",
		  action: "define" },
		  class: 'btn btn-default ' + active_when(:controller => 'ideas', :action => 'define')
		%>
	</div>
<% end %>