<p id="notice"><%= notice %></p>

<%= render 'secondary_nav' %>
<%= render 'sidebar' %>

<h4>Fill in aspects of the Startup Business Canvas</h4>

<ul class="questions">
	<% @aspects.each do |aspect| %>
		<li>
			<%= link_to aspect.title, idea_aspect_path(idea_id:@idea.id, id: aspect.id) %>
		</li>
	<% end %>
</ul>
