<p id="notice"><%= notice %></p>

<%= render 'secondary_nav' %>
<%= render 'sidebar' %>

<h4>Fill in aspects of the Startup Business Canvas.</h4>

<ul class="aspects">
	<% @aspects.each do |aspect| %>
		<%= render partial: 'aspects/aspect', locals:{aspect: aspect, idea: @idea} %>
	<% end %>
</ul>
