<p id="notice"><%= notice %></p>

<%= render 'secondary_nav' %>
<%= render 'sidebar' %>

<h3>See a list of the top 5 contributors!</h3>

  <div class="content-bg">
    <div class="idea-followers">
      <% @users_points.each do |user, points| %>
          <%= render 'users/user_with_points', user: user, points: points %>
      <% end %>
    </div>
  </div>
