<% # This template is called from Idea#show %>
<li class="comment">
  <p>
    <strong>Comment:</strong>
    <%= comment.brief %>
  </p>
  <% unless comment.commentable_type == 'Comment' then %>
	  <ul class="comment-replies">
	  	<%= render comment.comments %>
	  	<p>
	    	<%= link_to "Reply to comment", new_comment_comment_path(comment) %>
	  	</p>
	  </ul>
  <% end %>
</li>