<p id="notice"><%= notice %></p>

<p>
  <strong>Brief:</strong>
  <%= @comment.brief %>
</p>

<%= link_to 'Edit', edit_comment_path(@comment) %> |
<% @idea = Idea.find(Question.find(Solution.find(@comment.solution_id).question_id).idea_id) %>
<%= link_to 'Back', @idea %>
