<% followed_ideas = user.followed_ideas %>
<ul class="followed-ideas">
  <% followed_ideas.each do |idea| %>
    <li class="followed-idea clearfix">

      <div class="idea-render pull-left">
        <%= render idea %>
      </div>

      <% if user == current_user then %>

      <div class="unfollow-button-in-list pull-left">
        <%= render 'ideas/unfollow', idea: idea, classes:"btn-xs" %>
      </div>

      <% end %>

    </li>
  <% end %>
</ul>