<% profile = user.profile %>
<li class="white-bg">
  <div class="media">
    <%= link_to profile, class: "pull-left" do %>
      <%= image_tag(profile.photo.thumb, size: '60x60', class:'media-object') %>
    <% end %>
    <div class="pull-left">
      <%= render 'users/user', user: user %>
      <br>
      <% if profile.website %>
        <strong>Skills:</strong>
        <%= profile.website %>
      <% end %>
    </div>
  </div>
</li>