<%= render 'secondary_nav' %>
<h4 style='font-family: "Montserrat" !important;'>My Recent Activity</h4>
<%= render partial: "activities/activities", :locals => {activities: @user_activities} %>
<br><br>
