<h1>Dashboard</h1>
<p>Welcome, <%= current_user.name %>
</p>

<h3>My recent activity</h3>
<%= render partial: "activities/activities", :locals => {activities: @activities} %>

<% content_for :sidebar_right do %>
	<h3>My labs</h3>
<% end %>
