<% content_for :doc_head do %> 
    <h2>Welcome to the Labthi.ng documentation. Here we explain how every aspect of the site works in detail.</h2><hr><br>
    <p class='content-bg'>Labthi.ng is a collaborative space for innovators, hackers, engineers, and business developers to come together, build ideas, and change the world. Join forces with people all over the world to create a start-up idea-- it can be <b><u>anything</u></b>. Define its business model, and brainstorm the product’s creative aspects. Apply to be a part of the idea's core team, and then help build the prototype or write a part of the business plan to earn equity in the idea. Then, pitch your idea as a team to investors that are constantly browsing the site looking for a good success story!
    We want you to take part in any component of the start-up development process, from conception, to execution, and finally to launch. In our system, we call these components <strong>create</strong>, <strong>build</strong>, and <strong>buy</strong>. 
    <br><br>
    In each stage, you get compensated for your work. In the <strong>create</strong> phase, you earn reputation points in the idea from asking a question about its creative scope, explaining an aspect of its business model, and from others voting up your contributions. In the <strong>build</strong> phase, you earn equity in the idea for building the prototype, or writing part of the business plan. This equity turns into cash if the idea is sold, or if an investor buys equity. Your contributions in the <strong>build</strong> phase are also quantified by skill bars in each of the 4 key idea building areas: idea planning, business plan writing, prototyping and designing/branding. As you contribute, your proficiency in these increases. In the <strong>buy</strong> phase, you are compensated by actual cash; if your team agrees to sell the idea or a portion of equity to an investor, gain returns proportional to your equity in the idea.</p><br>
    <hr><br>

<% end %>

<!-- Begin page content -->

<div class="divider" id="create"></div>  
<div class="divider"></div>
  <div class="col-sm-12">
    <div class="page-header text-center">
      <h1><strong>Create Phase</strong></h1>
    </div>
      <%= render 'home/documentation_partials/create' %>
  </div>

<div class="divider" id="build"></div>
<div class="divider"></div>
  <div class="col-sm-12">
    <div class="page-header text-center">
      <h1><strong>Build Phase</strong></h1>
    </div>
      <%= render 'home/documentation_partials/build' %>
  </div>

<div class="divider" id="buy"></div>  
<div class="divider"></div>
  <div class="col-sm-12">
    <div class="page-header text-center">
      <h1><strong>Buy Phase</strong></h1>
    </div>
      <%= render 'home/documentation_partials/buy' %>
  </div>
  
</div><!--/wrap-->

<ul class="nav pull-right scroll-top">
  <li><a href="#" title="Scroll to top"><i class="glyphicon glyphicon-chevron-up"></i></a></li>
</ul>
