<% content_for :doc_head do %> 

    <h2>Welcome to the Labthi.ng documentation. Here we explain how every aspect of the site works in detail.</h2><hr><br>
    <p>Labthi.ng is a collaborative space for innovators, hackers, and business developers to come together, build ideas, and change the world. Join forces with people all over the world to create a technology-related start-up idea: define its business model, and brainstorm the product’s creative aspects. Help build the prototype or write a part of the business plan to earn equity in the idea. If you’re looking to launch a successful start-up, buy an idea on the labthi.ng market, develop it further, and release it yourself.
    We want you to take part in any component of the start-up development process, from conception, to execution, and finally to launch. In our system, we call these components <strong>create</strong>, <strong>build</strong>, and <strong>buy</strong>. 
    <br><br>
    In each stage, you get compensated for your work. In the <strong>create</strong> phase, you earn reputation points in the idea from asking a question about its creative scope, explaining an aspect of its business model, and from others voting up your contributions. In the <strong>build</strong> phase, you earn equity in the idea for building the prototype, or writing part of the business plan. This equity turns into cash if the idea is sold. In the <strong>buy</strong> phase, you can buy an idea; your compensation for spending money is the idea itself. But you also get a fancy investor tag on your profile! </p><br>
    <hr><br>

<% end %>

<!-- Begin page content -->

<div class="divider" id="create"></div>  
<div class="divider"></div>
  <div class="col-sm-12">
    <div class="page-header text-center">
      <h1><strong>Create Phase</strong></h1>
    </div>
      <%= render 'home/documentation_partials/create' %>
  </div>

<div class="divider" id="build"></div>
<div class="divider"></div>
  <div class="col-sm-12">
    <div class="page-header text-center">
      <h1><strong>Build Phase</strong></h1>
    </div>
      <%= render 'home/documentation_partials/build' %>
  </div>

<div class="divider" id="buy"></div>  
<div class="divider"></div>
  <div class="col-sm-12">
    <div class="page-header text-center">
      <h1><strong>Buy Phase</strong></h1>
    </div>
      <%= render 'home/documentation_partials/buy' %>
  </div>
  
</div><!--/wrap-->

<div id="footer">
  <div class="container">
    <p class="text-muted">This Bootstrap Example courtesy <a href="http://www.bootply.com">Bootply.com</a></p>
  </div>
</div>

<ul class="nav pull-right scroll-top">
  <li><a href="#" title="Scroll to top"><i class="glyphicon glyphicon-chevron-up"></i></a></li>
</ul>
