<h1>Home#index</h1>

<% #it would be nice to split this out into a method %>

<% if current_user  then %>
    <p><%= "Welcome, #{current_user.email}" %></p>
<% else %>
    <p><%= "Please sign in :)" %></p>
<% end %>


<p>What business needs to exist?</p>
<%= link_to "Create Idea", '/ideas/new', class: 'btn btn-primary' %>