
<h1 class='heading' style='font-size:5em; color:#fff;'><strong> Big Ideas. Come Play.</strong></h1><br>
<h2 class='subheading' style='line-height: 1.1; letter-spacing: -1px; color: #fff;'>
  Labthi.ng is a collaborative space for innovators and hackers to change the world. Earn equity in a startup by writing a business plan or coding a prototype.<br><br>
  <p style='margin-top:-10px;'><%= link_to "How it works", documentation_path %></p>
</h2>

<% content_for :sidebar_signup do %>
	<% title = "" %>
	<%= render template: 'devise/registrations/new', locals: {title: title} %>
<% end %>
