<% # This template is called from Idea#show %>
<li class="answer">

  <%= render partial: "evaluations/vote_wrapper", locals: {voteable: answer} %>

  <p>
    <strong>Answer:</strong>
    <%= answer.brief %>
  </p>
    <ul class="comments answer-comments">
      <%= render vote_order(answer.comments) || "No comments found" %>
    </ul>
    <p>
      <%= link_to "Add comment", new_answer_comment_path(answer) %>
    </p>
</li>
