<div class='doc'>
  The idea description is the backbone of the build phase—it is the future plan for the development of the minimum viable product and business model for the idea. All of the subsequent parts in the business plan, design and prototype components will be built referencing this component. The purpose of it is to provide a summary of the create phase information. The content written should be longer than 800 words. A detailed guide of how you should write it follows. 
  <br><br><br>
  <b>Creative Scope Summary</b><br><br>
  First, tie together the elements of the creative scope (the various questions and answers) and the idea brief to explain exactly what the product is, what it consists of, how it will be used, why it will be used (its uniqueness), and different problems the product may have along with corresponding solutions to how these problems can be tackled. 
  <br><br><br>
  <b>Business Model Summary</b><br><br>
  Second, tie together the aspects of the business canvas; using the top few solutions for each of the aspects, come up with a summary explanation for each of them. The parts in the business plan will heavily rely on good summary sections for each of the aspects. Remember that because the top solutions may have differing opinions, it is your job to tie the different arguments together to come up with the optimal solutions for each part of the business model. Please also append a <b>competitors</b> section to this summary, researching between 2-5 main competitors of the product. You may need to conduct extra research to create comprehensive explanations for each of the aspects.
  <br><br><br>
  <b>Design and Prototype Specification</b><br><br>
  Lastly, you must create a brief specification for the designers and prototype builders of the product: <br><br>
  <ul type="circle">
  <li>Use the aspect ‘prototype elements’ in the business scope to define exactly what should be built for the prototype to encapsulate the gist of the product; show potential consumers exactly what the product entails, and how it is unique from competitors. Be mindful of time considerations for the prototype builder; do not request a fully functioning and designed mobile app or website, simply the main important elements of it to showcase the product. They should not need to spend an entire week building the prototype. Furthermore, explain why you chose the prototype you chose, and define extra work that could be done if the prototype builder has time to make it the best product it can be.</li>
  <br>
  <li>You should also define what the designers should build; depending on the type of product in front of your business (e.g. software based or physical product based), you will need to think through what elements of the design are most important for the business' branding. Be sure to explain why you chose these elements as well.</li>
  <br>
  <li>You must also explain which of the design and prototype elements should be user tested, along with a summary of what you hope to get out of the user testing and how the feedback will be used to further refine the product. This is very important for potential investors, since they will want to see the market response to your product.</li>
  </ul> 
  <br><br>
  Finally, elucidate some of the future goals for this budding company. What do you hope to achieve with this product? What brand image do you hope to instill in the eyes of consumers? Once you build the minimum viable product, what more do you think will need to be done to the product to bring it to a position where it can launch successfully? What vision should your team have when putting together the different parts of the start-up? It is important that you try and create quantifiable and objective goals for your team regarding what you should achieve in the build phase and what you think is necessary to be done to the product and business to garner investor interest.
</div>
<hr> 