<div class='doc'>
  A logo is a graphic mark or emblem commonly used by commercial enterprises, organizations and even individuals to aid and promote instant public recognition. Logos are either purely graphic (symbols/icons) or are composed of the name of the organisation (logotype or wordmark). There are five keywords you should keep in mind when designing a logo: make it simple, memorable, timeless, versatile and appropriate. Creative Bloq has a <a href="http://www.creativebloq.com/graphic-design/pro-guide-logo-design-21221">great post</a> about logo design that you can learn from if you have never designed a logo before.
  <br><br>
  Please upload an image (.jpeg, .bmp or .png) of the logo once you have designed it. 

</div>
<hr> 