<div class='doc'>
  A wireframe is an image that consists of functional elements making up the layout of a given page of the frontend of the product. It specifies what actions the user is able to take on each page along with the content that should be present. Please upload an image (.jpeg, .bmp or .png) for each wireframe, the total number of which is specified in the idea description. Please make the resolution of your images 768 x 1024 pixels. You may use any application you deem fit to design the wireframes. Try to make them as detailed as possible, and provide explanations where necessary. 
  <br><br>
  If you take on this task and have never drawn wireframes before, please do research about what they are beforehand. This  <a href="http://www.smashingmagazine.com/2009/09/01/35-excellent-wireframing-resources/">Smashing Magazine article</a>provides many helpful resources teaching how to wireframe, and how to make better wireframes. About.com also has a useful <a href="http://graphicdesign.about.com/od/effectivewebsites/ss/wireframes.htm">article</a> explaining how to create website wireframes.
</div>
<hr> 