<li>
	<% solution_count = aspect.solutions.where(idea:idea).count %>
	<%= link_to(aspect.title, idea_aspect_path(idea_id:idea.id, id: aspect.id)) %>
		<%= pluralize(solution_count, 'Solution') %>
</li>