<li class="aspect">
	<% solutions = aspect.solutions.where(idea:idea) %>
	<%= link_to(idea_aspect_path(idea_id:idea.id, id: aspect.id)) do %>
		<div class="pull-right"><%= pluralize(solutions.count, 'Solution') %></div>
		<p><%= aspect.title %></p>
	<% end %>

		<% solutions = vote_order(solutions) %>
		<% if solutions.count > 0 %>
			<ul class='aspsol'>
				<%= render partial: '/solutions/mini_solution', locals: {solution: solutions.first} %>
			</ul>
		<% end %>
</li>