<%= render 'idea_builds/summary_of_business' %>
<div class='col-md-10 no-gutter'>
  <h4>New Proposal</h4>
  <div class='content-bg'>
    <%= render 'proposal_form' %>
  </div>
  <%= link_to 'Back', idea_build_team_build_path(@idea) %>
</div>