<div class='doc'>
This phase involves showcasing the product to its future customers. The content users develop in the <b>build phase</b> will not be on display to the general public; only once a customer has shown sufficient interest in purchasing the idea will they gain the ability to view the minimum viable product and the business plan behind it. <br>
<hr>


<div id='infoforinvestors'>
<h4><strong>Information Available to Investors</strong></h4><br>
If the <b>build phase</b> content is not viewable, how will investors see the idea’s potential? 
<br><br>
Potential customers will have viewing access to all of the <b>create phase</b> content, just as any other user on Labthi.ng. With this content, you will be able to see the backbone of the idea; what it is, how it works, how it will make money, who the customers will be, why it is unique, who are the competitors, how it will be built, and more.
<hr>
</div>

<div id='actionspossiblebuy'>
<h4><strong>Actions Possible</strong></h4><br>

In the buy phase, there are merely two actions possible, and a third if you really have an interest in the idea. If you click on an idea from the buy page, you will be re-directed to a “frozen” <b>create phase</b> page; in other words, all of the content submitted in the first phase will be viewable here, but not editable (i.e. you cannot submit questions, answers, solutions, or comments). 
<br><br>
However, there will be two new buttons distinguishing the idea page from phase 1:
<br><br>
<strong>1. “Hype”</strong>
<br><br>
If you are not able to purchase the idea but you find it interesting and think you would be a potential customer of the product, you can press the hype button, which will act similarly to the “like” button on Facebook. There will be a hypes count just above the number of followers for the idea; this will be representative of the idea’s popularity in the target market.
<br><br>
<strong>2. “Interested in Buying”</strong>
<br><br>
If you are willing and able to buy the idea, and you would want to launch it yourself, you can click the “interested in buying” button regardless of whether you will want to contact us or not. This acts similar to the “hype” button, and the count will be listed just below it, but it represents the idea’s popularity from an investor’s point of view. You do not have to buy the idea if you press this button; you are merely showing an interest and giving the public a gauge of its popularity. 
<br><br>
Both these buttons generate useful data about the idea: how popular it will be with customers, and how much money it can generate from investors. 
<br><br>
<strong>I want it now!</strong>
<br><br>
If pressing buttons is not enough for you and you are truly interested in buying the idea, please get in touch with us at  <a href="mailto:contact@labthi.ng?Subject=Buying%20an%20Idea" target="_top">contact@labthi.ng</a>. Here, we can negotiate a price with you and show you the build information after we see that you are serious about your endeavour. 
<hr>
</div>

<div id='whathappensnext'>
<h4><strong>What Happens Next?</strong></h4>
<br>
After you buy the idea, we will send you pdfs of all <b>create phase</b> information along with access to the Bitbucket repository and pdfs of the other <b>build phase</b> content. Then, the money you paid for the idea will be distributed proportionally among equity holders from phase 2. Furthermore, when you buy the idea, you will gain a nice investor tag on your profile, below your profile photo. In future beta versions, this will give you special access to <b>build phase</b> content for other ideas as it is being created, even if you decide not to take part in its creation.
<hr>
</div>
</div>