<div class='doc'>
<br>
The <b>create phase</b> characterises the idea’s conception. Here, users can submit and brainstorm ideas collaboratively with the objective of refining their creative bounds—what the product does, how it works, why it should work the way it does, what makes it unique, etc—and their business models. Users’ contributions are measured with a point system that records the quantity and quality of each content submission. 
<br>
The actions possible in this phase are listed below.
<hr>

<div>
<a class="anchor" id="createnewidea"></a>
  <h4><strong>1. Create a new idea</strong></h4>

  If you have an idea you would like the labthi.ng community to help you build, you can upload it from the create page. It must be a technology related product or service; a software, web app, or mobile app (you will check what type of innovation it is when you submit the idea). You must input a title for the idea: this need not be the final company name, but merely the essence of what the idea is (e.g. An Interactive Medical Diagnosing Platform). You must also input a brief description of the idea, in no more than 1000 characters; explain how you imagine the idea working, a problem it solves for a group of consumers (e.g. people who are sick or in pain without access to a doctor), and anything else you think will help people understand and refine your idea. You must also choose a category to define the idea’s field: arts & entertainment, business & finance, education, energy & utilities, food & health, science & technology, social, travel & leisure, retail, or other. 
  <hr>
</div>

<div>
<a class="anchor" id="directidea"></a>
  <h4><strong>2. Direct an existing idea</strong></h4>
  <br>
  On a given idea’s page, you can direct its creative vision by asking questions about the idea: different aspects of the product or problems and obstacles you imagine it encountering, to name a few possibilities (e.g. for the idea: An Interactive Medical Diagnosing Platform, you could ask: are the legal implications associated with diagnosing people without a medical degree? What are they and how do we overcome them? When there are multiple possible diagnosis based on a user’s set of symptoms and his answers to a few yes or no questions, how do we narrow them down?). Use questions to help you and others understand the product’s creative features and scope; answer these questions as well to solve the problems the idea faces and to refine the idea into a scalable, buildable product.  
  <br><br>
  You can post comments on both questions and answers if you think any content should be amended, or if you would like something clarified. You can also up vote and down vote questions, answers and comments to help filter the content, and direct users’ attention towards the most useful information.
  <hr>
</div>

<div>
<a class="anchor" id="defineidea"></a>
  <h4><strong>3. Define an existing idea</strong></h4>
  <br>
  If you click the define tab on an idea’s page, you are prompted to fill in aspects of a modified version of the <a href="https://leanstack.com/LeanCanvas.pdf">lean start-up business canvas</a> with solutions. These are to help develop the idea’s business model. An explanation of each of them follows, along with a suggestion for how to structure your solutions for each aspect (though you need not include everything mentioned). 
  <br><br>
  <strong>Customer segments</strong> <br>
  This is the target market of your product; a specific type of person that will most likely buy the product. Although ideas can apply to a wide range of consumers, an effective idea pinpoints an exact demographic & psycho-demographic. Distinguish between customers and users; customers will pay, users will not. It is worth explaining the demographics of each in solutions for this section. 
  <br><br>
  <strong>Problems this business will solve</strong> <br>
  For the customer segment you are working with, identify a key problem they have that the idea will solve. Explain the problem well, along with how and why the idea is a solution. You should also be sure to mention the other solutions to the problem that currently exist, and why some people would consider the idea the best solution to the problem. If you have a better solution to someone’s problem, you should comment your solution to his problem onto his submission.
  <br><br>
  <strong>Unique value proposition</strong> <br>
  Try to distil the essence of the product into a few words; the few words that will be the headline of the landing page of the application, and that will broadcast everywhere as the idea’s brand name. In it you should answer the questions who, what, why.  Make sure you are targeting the chosen customer segment with the proposition; not the mainstream. Be sure to also explain the rationale behind your UVP. 
  <br><br>
  <strong>Channels</strong> <br>
  This is defined as the path to the chosen customer segment. There are various characteristics to consider: free channels, such as social media and blogging, or paid ones such as search engine marketing; and inbound channels, relying on “pull messaging” to let customers find you (e.g. blogs, e-books and webinars), or outbound channels relying on “push messaging” for you to find the customers (e.g. cold calling and print/TV ads). Explain the combinations of these you will use and why you think such combinations will be most effective.
  <br><br>
  <strong>Cost structure and revenue streams</strong> <br>
  Revenue generally comes from product sales and advertising. Possible pricing structures are: “free trial plan”, in which you establish a time period in which the product is free, and then make users pay; or “freeniums”, where you give the product/service away for free, acquiring many users quickly, and then offer a value added premium priced product/service to the established customer base. Also take into account costs; figure out how much it costs to deliver the solution to your market segment’s problem and ensure there is a good profit margin built in. Estimate revenue and cost numbers, how long it would take to breakeven with the product’s pricing plan, and discuss any possibilities for advertising revenue streams. Explain the numbers.
  <br><br>
  <strong>Key metrics</strong><br>
  These are the key numbers that tell you how your business is doing in real time before the sales report. For tech start-ups, there are only a handful of possible numbers for this; for example traffic or particular types of activity (e.g. comments on a blog post). Document a few of these and explain why they are important and how they can help make product and market-related development decisions in the future.
  <br><br>
  <strong>Unfair advantage</strong> <br>
  These are aspects of the product that cannot be easily reproduced or bought; this involves thinking about how to distinguish the product from competitors in the market, and make your difference matter (e.g. insider information or expertise in the field). Please be sure to briefly explain competitors’ products and how these differences will make this product better.  
  <br><br>
  <strong>Prototype elements</strong> <br>
  What aspects of the product do you think are most important to be realised in the first prototype and why? If possible, explain how they should be built. 
  <br><br>
  <strong>Image</strong> <br>
  Here you can upload the image that fits the idea best; preferably one that does not infringe on any copyright laws. The highest voted image will be displayed on the idea’s sidebar, and will be used as inspiration for designing the logo. 
  <br><hr>
</div>

<div>
<a class="anchor" id="measuringcont"></a>
  <h4><strong>Measuring Contributions</strong></h4>
  <br>
  In the reputation tab, users are listed by their local reputation point number in the idea; that is, a cumulative measure of the quantity and quality of their contributions to the idea. 
  <br><br>
  You gain reputation points every time you submit a question, answer or solution in the <b>create phase</b>. People can also up vote or down vote your content; such actions also cause you to gain or lose reputation points. Down voting incurs a deduction of points for the evaluator, too. The amounts of points you gain or lose from any of these actions depend on the type of content being considered and are listed below. Please feel free to <a href="mailto:contact@labthi.ng?Subject=Reputation%20System" target="_top">email us</a> if you have questions about the rationale behind the points awarded for each possible action.
  <br><br>
  <table class='table' > 
    <tbody align='center'>
      <tr>
        <td ></td>
        <td ><p><b>The Evaluator</b></p></td>
        <td ></td>
        <td ><p><b>The Content Creator</b></p></td>
        <td ></td>
      </tr>

      <tr>
        <td ><p><b>Content Type</b></p></td>
        <td ><p><i>Up Weight</i></p></td>
        <td ><p><i>Down Weight</i></p></td>
        <td ><p><i>Up Weight</i></p></td>
        <td ><p><i>Down Weight</i></p></td>
      </tr>

      <tr>
        <td><p><i>Idea</i></p></td>
        <td ><p>0</p></td>
        <td ><p>2</p></td>
        <td ><p>5</p></td>
        <td ><p>4</p></td>
      </tr>

      <tr>
        <td ><p><i>Question</i></p></td>
        <td ><p>0</p></td>
        <td ><p>1</p></td>
        <td ><p>2</p></td>
        <td ><p>1</p></td>
      </tr>

      <tr>
        <td ><p><i>Answer</i></p></td>
        <td><p>0</p></td>
        <td ><p>1</p></td>
        <td ><p>3</p></td>
        <td ><p>2</p></td>
      </tr>
      <tr> 
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>
  <br>
</div>

<div>
<a class="anchor" id="transitioncreatebuild"></a>
  <h4><strong>The Transition from Create to Build</strong></h4>
  <br>
  After a certain amount of content submission and evaluation to a given idea, the <b>create phase</b> brainstorming has refined both its creative and business scopes enough for it to move into the <b>build phase</b>, where the plan for its next stage of development, business plan, design and prototype will be built. 
  <br><br>
  Because every idea along with the quality and quantity of its contributions varies, the Labthi.ng team ultimately decides when the idea is ready to transition phases. 
  <br><br>
  A guideline for the minimum requirements for the transition to occur is:
  <br>
  <ul type="circle">
  <li>5 questions each containing 3 comprehensive answers in the direct section</li>
  <li>3 solutions per aspect in the define section</li>
  <li>A minimum of 5 contributors to the idea overall, excluding the idea submitter</li>
  </ul>
  <br>
  Note that the idea will most likely be left open for further contributions in this phase even after these conditions are satisfied.
  <hr>
</div>
</div>