/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require bootsy
 *= require documentation
 *= require bootstrap-slider
 *= require jquery.atwho
 *= require_tree .
 */

/************************************/
/*********** Color Palette **********/
/************************************/
$lab-light-grey: #ecf0f1;
$lab-med-grey: #bdc3c7;
$lab-near-black: #333333;
$lab-turquoise: #1ABC9C;

/************************************/
/******** Bootstrap Overrides *******/
/************************************/

.alert {
    background-color: #d8ecf9;
    border-color: #2980B9;
    color: #2980B9;
    text-align: center; 
}

/* Typography */

$font-family-sans-serif: arial, sans-serif;
$font-size-base: 13px;


/* Navbar */
$navbar-height: 40px;
$navbar-default-bg: $lab-light-grey;
$navbar-default-border: none;

/* Navbar Links*/
$navbar-default-link-color: $lab-near-black;
$navbar-default-link-hover-coor: black;
$navbar-default-link-active-bg: none;
$navbar-default-link-active-color: black;

.settings {
  float:right;
}

/* Badge */
$badge-bg: $lab-med-grey;

.badge-rep {
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: bold;
  color: white;
  line-height: 1;
  vertical-align: middle;
  white-space: nowrap;
  text-align: center;
  background-color: #bdc3c7;
  border-radius: 10px;
  margin-bottom: 3px;
}
.badge-rep > a {
    color:#fff;
  }

/* Secondary Nav */
.secondary-nav .btn {
  border:0;
  border-radius: 5px;
  font-weight:bold;
}
.secondary-nav .btn:hover{
  background: $lab-light-grey;
}

.secondary-nav a:active, .secondary-nav a.active{
  background: $lab-light-grey;
  outline: 0;
  background-image: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.secondary-nav .text {
  font-size:1.1em;
}
@import "twitter/bootstrap";


/************************************/
/************ Custom CSS ************/
/************************************/



html {overflow-y: scroll;}

label{
    cursor: auto;
}

body{
    /* margin: 0 auto 0; */
    width:100%;
  }

.full-width{
  width: 100%;
}

.navbar > .container .navbar-brand{
  margin-left:0;
}

.navbar a {
}

.navbar .primary-logo{
  margin-right:20px;
}

.nav a {
  font-size: 13px;
  font-weight: bold;
}

ul.hmenu {
    list-style: none;
    margin: 0 0 2em;
    padding: 0;
}

ul.hmenu li {
    display: inline;
}

p.notice {
    background: green;
    color: white;
}

.purr {
  position: fixed;
  top: 30px;
  right: 100px;
  width: 250px;
  padding: 20px;
  background-color: #FCC;
  border: solid 2px #C66;
  &:first-letter { text-transform: uppercase; }
}

.questions, #noanswer, .aspects, .aspect, .content-bg{
  background: #ecf0f1;
  border-radius: 8px;
  padding: 11px 13px;
  margin-bottom: 8px;
  list-style:none;
  ul > li {
    border-radius: 8px;
    background:#fff;
    padding: 8px;
    list-style:none;
    margin:8px 0;
  }
  ul ul {

  }
}

.question-comments > li {
  background: #ecf0f1;
  border-radius: 8px;
  padding: 11px 13px;
  margin-bottom: 8px;
  list-style:none;
  ul > li {
    border-radius: 8px;
    background:#fff;
    padding: 8px;
    list-style:none;
    margin:8px 0;
  }
  ul ul {

  }
}

.white-bg{
    border-radius: 8px;
    background:#fff;
    padding: 8px;
    list-style:none;
    margin:8px 0;
  }
  
.aspects{
  background-color:#fff;
  padding:0;
}

.aspect a{
  margin-bottom:8px;
}

a:focus {outline:none;} 

.media-item-body{
  min-height:56px;
}

.vertical-center {
    display:table-cell;
    vertical-align:middle;
    float:none;
}

ul.followed-ideas{
  padding: 0;
}

li.followed-idea{
  list-style-type: none;
  margin-bottom:8px;
}

li.followed-idea .idea-render{
  margin-top: 1px;
}
.unfollow-button-in-list{
  margin-left:8px;
}

.link-dis {
  color: #2980B9;
}

.photo {
  width:36px;
  float:left;
  margin-right:10px;
}
.username {
  float:left;
}

.userwrap {
  overflow:hidden;
  margin-top:10px;
}

.unclickable {
  color: #1ABC9C;
  font-size: 1.5em;
}

.up {
  margin-top:-6px;
}

.ideaphoto {
  float:left;
}

.ideainfo {
  position:absolute;
  bottom:0;
  right:0;
}

.ideaside {
  position:relative;
  overflow:hidden;
}

.phase2image {
  margin-left:-14px;
  margin-right:30px;
  margin-top:10px;
}
 
.archive {
  margin-top:20px;
}

.aspsol {
  margin-left:-40px;
}

.bg {
  background: image-url('labthingbg3.png'); 
  background-size: 100%; 
  margin-top:-18px;
}

.panel {
  font-size:150%;
}

.testt {
  width:240px;
}

#checkbx {
  margin-top:2px;
}

.pwreset {
  border-style: solid;
  border-width: 2px;
  border-color: $lab-med-grey;
  border-radius: 8px;
}

.editpw {
  width:222px !important;
}

#buscanvas {
  color:#333333;
}

.imgpad {
  margin-left:5px;
  margin-bottom:5px;
}

.userlink {
  color: #333333;
}

.userlink a {
  font-size: 13px;
  font-weight: bold;
  color: #333333;
  text-decoration: none;
}

.popover {
  max-width:none;
  width:400px;
}