/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

/************************************/
/*********** Color Palette **********/
/************************************/
$lab-light-grey: #ecf0f1;
$lab-med-grey: #bdc3c7;
$lab-near-black: #333333;

/************************************/
/******** Bootstrap Overrides *******/
/************************************/


/* Typography */

$font-family-sans-serif: arial, sans-serif;
$font-size-base: 13px;


/* Navbar */
$navbar-height: 40px;
$navbar-default-bg: $lab-light-grey;
$navbar-default-border: none;

/* Navbar Links*/
$navbar-default-link-color: $lab-near-black;
$navbar-default-link-hover-coor: black;
$navbar-default-link-active-bg: none;
$navbar-default-link-active-color: black;

/* Badge */
$badge-bg: $lab-med-grey;


/* Secondary Nav */
.secondary-nav .btn {
  border:0;
  border-radius: 5px;
  font-weight:bold;
}
.secondary-nav .btn:hover{
  background: $lab-light-grey;
}

.secondary-nav a:active, .secondary-nav a.active{
  background: $lab-light-grey;
  outline: 0;
  background-image: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}



@import "twitter/bootstrap";


/************************************/
/************ Custom CSS ************/
/************************************/

html {overflow-y: scroll;}

label{
    cursor: auto;
}

body{
    /* margin: 0 auto 0; */
    width:100%;
  }

.full-width{
  width: 100%;
}

.best-in-place-submit{
  margin-bottom:10px;
  margin-left:6px;
}

.navbar > .container .navbar-brand{
  margin-left:0;
}

.navbar a {
}

.navbar .primary-logo{
  margin-right:20px;
}

.nav a {
  font-size: 13px;
  font-weight: bold;
}

ul.hmenu {
    list-style: none;
    margin: 0 0 2em;
    padding: 0;
}

ul.hmenu li {
    display: inline;
}

p.notice {
    background: green;
    color: white;
}

.purr {
  position: fixed;
  top: 30px;
  right: 100px;
  width: 250px;
  padding: 20px;
  background-color: #FCC;
  border: solid 2px #C66;
  &:first-letter { text-transform: uppercase; }
}

.questions, .answers, .aspects, .aspect, .question-comments, .solutions{
  background: #ecf0f1;
  border-radius: 8px;
  padding: 11px 13px;
  margin-bottom: 8px;
  list-style:none;
  ul{
    border-radius: 8px;
    background:#fff;
    padding: 8px;
    list-style:none;
    margin:8px 0;
  }
  ul ul {

  }
}

.aspects{
  background:#fff;
  padding:0;
}

.aspect a{
  margin-bottom:8px;
}

a:focus {outline:none;} 

.media-item-body{
  min-height:56px;
}