// Place all the styles related to the Evaluations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.vote-wrapper{
  padding: 0 13px 0 0;
}

a.vote .glyphicon {
	color: #bdc3c7;
	font-size:20px;
}

a.vote-undo, a.vote-undo:hover, a.vote-active {
	.glyphicon{
		color:#2c3e50;
	}
}

a.vote:hover .glyphicon {
	color:#2c3e50;
}

.vote, .vote-count{
  float:left;
  clear:both;
	
}
.vote-count{
	width: 19px;
	text-align: center;
}

a.vote .glyphicon-chevron-up{
	left: 1px;
}