// Place all the styles related to the IdeaBuild controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$lab-turquoise: #1ABC9C;

.statustext {
  color: $lab-turquoise;
}

.btn-equity {
  color: #fff;
  background-color: $lab-turquoise;
}

.btn-status {
  color: #fff;
  background-color: #95A5A6;
}

.link-dis {
  color: #2980B9
}

.btn-inverse {
  color: #fff;
  background-color: #34495E;
}

.btn-inverse:hover {
  color: #fff;
  background-color:  #3F556A;
}