// Place all the styles related to the parts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.no-gutter {
    padding-left:0;
}

.helpcontentbg {
  background: #ecf0f1;
  border-radius: 8px;
  padding: 11px 13px;
  margin-bottom: 8px;
  list-style:none;
  ul ul {

  }
}

.partname {
  margin-left:12px;
}

.taskbtn {
  margin-top:-35px;
  float:right;
  margin-right:-10px;
}

.taskstatus {
  margin-top:20px;
}

.admintask {
  margin-right:-12px;
}

.taskhr {
  margin-top:-0px;
}