// Place all the styles related to the profile controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.profileform {
  margin-left:-15px;
}

.wrapinfo {
  word-wrap: break-word;
}

.profile-border {
  border-style: solid;
  border-width: 2px;
  border-color: #ecf0f1;
  border-radius: 8px;
}

.core-team {
  background-color:#7F8C8D;
  color:#fff;
  margin-top:-3px;
}

.top {
  margin-top:3px;
}