<div class="content-bg">  
  <% activities.each do |activity| %>
    <li class="white-bg">
      <div class="media">
        <%= link_to activity.owner.profile, class: "pull-left" do %>
          <%= image_tag(activity.owner.profile.photo.thumb, size: '40x40', class:'media-object') %>
        <% end %>
        <div class="pull-left">
          <%= render 'users/user', user: activity.owner %><br>
          <div style='margin-top:5px;'><%= render_activity activity %></div>
        </div>
      </div>
    </li>
  <% end %>
</div>