<div class="content-bg">	
	<% activities.each do |activity| %>
	  <li class="white-bg">
	    <%= render activity.owner if activity.owner %>
	    <%= render_activity activity %>
	  </li>
	<% end %>
</div>
