<div class="profile-border" style='border-width:2px;'>  
  <% activities.each do |activity| %>
    <li class="white-bg">
      <div class="media">
        <%= link_to activity.owner.profile, class: "pull-left" do %>
          <%= image_tag(activity.owner.profile.photo.thumb, size: '40x40', class:'media-object img-rounded') %>
        <% end %>
        <div class="pull-left">
          <%= render 'users/user', user: activity.owner %><br>
          <div style='margin-top:5px;'><%= render_activity activity %></div>
        </div>
      </div>
      <% unless activities.index(activity) == (activities.length - 1) %>
        <hr style='height:2px;border-width:2px;margin-bottom:-10px;'>
        <% end %>
    </li>
  <% end %>
</div>