<% # This template is called from Idea#show %>
<li>
  <p>
    <strong>Solution:</strong>
    <%= best_in_place solution, :brief %>
    | 
  <%= link_to 'Edit', edit_solution_path(solution) %>
  </p>
</li>