<% # This template is called from Idea#show %>
<li class="solution">
  <p>
    <strong>Solution:</strong>
    <%= best_in_place solution, :brief %>
  </p>
    <ul class="comments solution-comments">
      <%= render solution.comments || "No comments found" %>
	 		<p>
	      <%= link_to "Add comment", new_solution_comment_path(solution, solution_id: solution.id) %>
	  	</p>
    </ul>
</li>