<% # This template is called from Idea#show %>
<li class="solution">
  <p>
    <strong>Solution:</strong>
    <%= best_in_place solution, :brief %>
  </p>
    <ul>
      <%= render Comment.where(solution_id: solution.id) || "No comments found" %>
	 		<p>
	      <%= link_to "Add comment", controller: "comments", action: "new", solution_id: solution.id %>
	  	</p>
    </ul>
</li>