<p id="notice"><%= notice %></p>

<p>
  <strong>Brief:</strong>
  <%= @solution.brief %>
</p>

<%= link_to 'Edit', edit_solution_path(@solution) %> |
<%= link_to 'Back', Idea.find(Question.find(@solution.question_id).idea_id) %>
