<% ### explore#build ### %>

<% content_for :sidebar_left_small do %>
	<p>
		<%= link_to "Submit Idea", '/ideas/new', class: 'btn btn-primary' %>
	</p>
	<hr>
	<% @categories.each do |category| %>
	<p>
		<%= link_to category, { controller: 'explore', action: 'create', category: category }, class: 'category-tag' %>
	</p>
	<% end %>
<% end %>

	<% if @ideas then %>
		<% @ideas.in_groups_of(3, false).each do |group| %>
			<div cass="row">
				<% group.each do |idea| %>
					<%= render 'print_idea_for_create', :idea => idea %>
				<% end %>
			</div><!-- .row -->
		<% end %>
		<% else %>
				<%= render 'print_idea', :idea => @idea %>
<% end %>