<% content_for :background do %>
  <div class='build-bg' style='height:1000px;'>
  <br><br><br><br><br><br><br><br>
    <div class='row'>
      <div class='col-md-4'></div>
      <div class='col-md-3'>
        <h1 style="color:#fff;font-family:'Montserrat-Bold';font-size:4.2em;float:right;margin-left:30px;">Build</h1>
        <img src='images/build.png' alt='Create an Idea' style='height:100px;' class='pull-right'>
      </div>
      <div class='col-md-5'></div>
    </div><br><br><br><br>
    <div class='row'>
      <div class='col-md-2'></div>
      <div class='col-md-8'>
        <h1 style="color:#fff;font-family:'Montserrat';font-size:2.0em;line-height: 50px;" align='center'>
          Select an idea to check out its pitch or read its team's updates about their progress through phase 2. Alternatively, click on <i>Needs Team Members</i> to find an idea looking for team members and apply if you think you're a fit!
        </h1><br><br><br>
      </div>
      <div class='col-md-2'></div>
      <br><br><br>
    </div><hr style="color:#fff;background-color:#fff;border-color:#fff;margin-left:250px;margin-right:250px;" />
    <div class='row'>
      <div class='col-md-12'>
      <br><br>
        <h1 style="color:#fff;font-family:'Montserrat-Bold';font-size:6.2em;" align='center'>COMING SOON</h1>
      </div>
    </div>
  </div>
<% end %>