<% ### explore#build ### %>

<% content_for :sidebar_left_small do %>
  <p>
    <%= link_to "Submit Idea", '/ideas/new', class: 'btn btn-primary' %>
  </p>
  <hr>
  <p><%= link_to 'All Categories', buy_path %></p>
  <% @categories.each do |category| %>
  <p>
    <%= link_to category, { controller: 'explore', action: 'buy', category: category }, class: 'category-tag' %>
  </p>
  <% end %>
<% end %>

<% if @ideas then %>
  <% @ideas.each do |idea| %>
    <%= render 'print_idea_for_buy', :idea => idea %>
  <% end %>
<% end %>