<div class='footer'>
  <div class='container'>

    <br>

    <div class='col-md-12'>
        <p class='p-footer pull-left'>Questions? Comments? We want your input. <a class='email-footer' href="mailto:labthingco@gmail.com?Subject=Hi%20Labthi.ng!" target="_top" style='color:#fff !important;'><b>Contact us!</b></a> | <%= link_to 'Terms & Conditions', terms_path %> | <%= link_to 'Privacy Policy', privacy_path %> </p>
        <p class='p-footer copy pull-right'>© Labthi.ng Ltd.</p>
    </div>
     

  </div>
</div>