<nav class="navbar navbar-default navbar-fixed-top navdoc" id="nav-doc" data-spy="affix">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav nav-justified">
          <li><a href="#">How It Works</a></li>
          <li><a href="#section2"><img src="/images/create-icon.jpg" class='icon'>Create</a></li>
          <li><a href="#section3"><img src="/images/build-icon.jpg" class='icon'>Build</a></li>
          <li><a href="#section4"><img src="/images/buy-icon.jpg" class='icon'>Buy</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">More <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li><a href="#">Separated link</a></li>
              <li><a href="#">One more separated link</a></li>
            </ul>
          </li>
        </ul>
      </div><!--/.nav-collapse -->
    </div><!--/.container -->
</nav><!--/.navbar -->