<nav class="navbar navbar-default navbar-fixed-top navdoc" id="nav-doc" data-spy="affix">
<div class='container'>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav nav-justified" align='center'>
          <li>
            <a href="#create" class='doclink' style="display:inline-block;padding-right:0px;"><img src="/images/create-icon.jpg" class='icon' >Create an Idea</a>
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="display:inline-block;padding-left:0px;"><b class="caret"></b></a>
              <ul class="dropdown-menu pull-right">
                <li><a href="#createnewidea" >Create a New Idea</a></li>
                <li><a href="#directidea">Direct an Existing Idea</a></li>
                <li><a href="#defineidea">Define an Existing Idea</a></li>
                <li><a href="#measuringcont">Measuring Contributions</a></li>
                <li><a href="#transitioncreatebuild">Transition from Create to Build</a></li>
              </ul>
          </li>
          <li>
            <a href="#build" class='doclink' style="display:inline-block;padding-right:0px;"><img src="/images/build-icon.jpg" class='icon'>Build an Idea</a>
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="display:inline-block;padding-left:0px;"><b class="caret"></b></a>
              <ul class="dropdown-menu pull-right">
                <li><a href="#partsandequity">Parts and Equity</a></li>
                <li><a href="#ideadescription">Idea Description</a></li>
                <li><a href="#summaryofbusiness">Summary of Business</a></li>
                <li><a href="#summaryofproduct">Summary of Product</a></li>
                <li><a href="#marketingstrategyplan">Marketing Strategy Plan</a></li>
                <li><a href="#marketanalysis">Market Analysis</a></li>
                <li><a href="#marketingstrategyimplementation">Marketing Strategy Implementation</a></li>                
                <li><a href="#executivesummary">Executive Summary</a></li>
                <li><a href="#logo">Logo</a></li>
                <li><a href="#wireframes">Wireframes</a></li>   
                <li><a href="#mockups">Mock-Ups</a></li>    
                <li><a href="#flowchartandschema">Flowchart & Schema</a></li> 
                <li><a href="#prototype">Prototype</a></li> 
                <li><a href="#startpart">Starting a Part</a></li>    
                <li><a href="#unstartpart">Unstarting a Part</a></li>   
                <li><a href="#finishpart">Finishing a Part & Assessment of Contribution Quality</a></li> 
                <li><a href="#measuringcontrbuild">Measuring Contributions</a></li>
                <li><a href="#transitionbuildbuy">Transition from Build to Buy</a></li>         
              </ul>
          </li>
          <li> 
              <a href="#buy" class='doclink' style="display:inline-block;padding-right:0px;"><img src="/images/buy-icon.jpg" class='icon'>Buy an Idea</a>
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="display:inline-block;padding-left:0px;"><b class="caret"></b></a>
              <ul class="dropdown-menu pull-right">
                <li><a href="#infoforinvestors">Information Available to Investors</a></li>
                <li><a href="#actionspossiblebuy">Actions Possible</a></li>
                <li><a href="#whathappensnext">What Happens Next?</a></li>
              </ul>
          </li>
        </ul>
      </div><!--/.nav-collapse -->
  </div>
</nav><!--/.navbar -->
<div class='hiddenspace'></div>