<%= render 'layouts/header' %>


<%= render 'layouts/secondary_nav' if content_for :secondary_nav %>

<div class="content col-sm-7">
  <%= yield %>
</div>
<div class="content col-sm-5">
</div>

<%= render 'layouts/footer' %>