<%= render 'layouts/header' %>


<%= render 'layouts/secondary_nav' if content_for :secondary_nav %>

<div class="content col-sm-4">
</div>
<div class="content col-sm-4">
	<%= yield %>
</div>
<div class="content col-sm-4">
</div>
<%= render 'layouts/footer' %>
