<%= render 'layouts/register_header' %>

<div class='container-fluid'>
  <div class='bg'>
    <div class='container'>
      <div class='row'>
        <br><br><br>
        <div class='col-md-8' style='width:720px; margin-right:40px;'>
          <%= yield %>
        </div>
        <div class="col-md-4" style='margin-top:10px;'>
          <%= yield :sidebar_signup %><br><br>
        </div>
      </div>
    </div>
  <br><br><br>
  </div>
  <div class='container'>
    <div class='row' align='center'>
      <div class='col-md-12'>
        <h1 class='subheading' align='center' style='line-height: 1.1; letter-spacing: -1px; font-size:3.4em;'> 
          <br>
          Why you'll love Labthi.ng.
        </h1>
        <br><br>
      </div>
      <br><br><br>
      <div class='col-md-4'>
        <img src='images/create-icon.jpg' alt='Create an Idea' class='create-icon chart-icon'>
        <hr>
        <h2>Create an Idea</h2>
        <p class='panel'>
          Examine an idea’s features and<br> develop its business model with other innovators. Earn points for your contributions.<br><br>
        </p>
      </div>
      <div class='col-md-4' style='margin-top:3px;'>
        <img src='images/build-icon.jpg' alt='Build an Idea' class='build-icon chart-icon'>
        <hr>
        <h2>Build an Idea</h2>
        <p class='panel'>
          Assemble the plan, business<br> plan, design, and prototype to earn equity in the idea.<br><br>
        </p>
      </div>
      <div class='col-md-4'>
        <img src='images/buy-icon.jpg' alt='Buy an Idea' class='buy-icon chart-icon'>
        <div style='margin-top:-9px;'>
          <hr>
          <h2>Buy an Idea</h2>
          <p class='panel'>
            Buy ownership of the idea and<br> access to its business plan, prototype, and design and launch the startup yourself!<br><br>
          </p>
        </div>
      </div>
    </div>
  </div>




<%= render 'layouts/footer' %>