<div class='col-md-12 profile-border' style='margin-bottom:30px;'>
  <h1 class='set-font-bold' style="font-family:'Montserrat-Bold'">The Idea</h1>
  <hr>
  <p> <%= @brief.html_safe %> </p>
</div>
<hr>