<div class='col-md-12 no-gutter'>
  <%= render 'ideas/phase_2' %>
  <hr>
</div>

<div class="secondary_nav">
  <div class="secondary-nav">
    <%= link_to "Overview", {
      controller: "idea_builds",
      action: "news_feed" },
      class: 'btn btn-default text ' + active_when(:controller => 'idea_builds', :action => 'news_feed')
    %>
    <%= link_to "Build", {
      controller: "idea_builds",
      action: "overview" },
      class: 'btn btn-default text ' + active_when(:controller => 'idea_builds', :action => 'overview')
    %>
    <%= link_to "Discussion", new_chat_path(idea_id: @idea.id, kind: 'idea_build', kind_id: @idea_build.id), 
      class: 'btn btn-default text ' + active_when(new_chat_path(idea_id: @idea.id, kind: 'idea_build', kind_id: @idea_build.id))
    %>
  </div>
</div>
<br><br>