<%= render 'idea_builds/secondary_nav' %>
  <div class='col-md-8 no-gutter'>
    <%= render 'idea_builds/brief' %>
    <%= render 'idea_builds/secondary_sub_nav' %>
  </div>
  <div class='col-md-4'>
    <%= render 'idea_builds/sidebar' %>
  </div>
<br>